
head{
  margin-top: 25 px;
  margin-right: 50 px;
  margin-bottom: 60 px;
  margin-left: 20 px;
}
#title{
  margin:150 px  250 px;
  padding: 64 px;
  font-family:'Arial, Helvetica, Sans-serif;  
  font-size: 60 px;
  color: #FF0000;
}
}
body{      
    background-color: #FFFAFO; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50 px;
    margin-right: 50 px;
    margin-top: 30 px;
}

h1 {
  font-color: #00080;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700; bold;
  font-size: 200 px;
  text-align:center;
}

h2 {
  font-color: #FF4040;
  font-family: Arial, Helvetica, sans-Serif; 
  font-weight: normal 400; 
  margin:0 0 8 px;
  text-align: center;
}
h3 {
  font-color: #FF4040;
  font-size: 16 px;
  margin-top: 25 px;
  margin-right: 50 px;
  margin-bottom: 60 px;
  margin-left: 20 px;
}
  
}
h4 {
  color: #191970;
  font-size: 8 px;
  margin: 0 0 8 px;
  
}
h5 {
  color: #191970;
}
h6 { 
  color: #191970;
}
p {
  
  margin: 25x 50x; left:
  font-color: #191970;
.content{
	width: 600 px;
}
.navlinks{
	color:#ff000;
	border-top: 2 px solid#ff000;
	text-transform: none;



