
head{
  margin-top: 25 px;
  margin-right: 50 px;
  margin-bottom: 60 px;
  margin-left: 20 px;
}

#title{
	margin:150 px auto 250 px;
	padding: 64 px;
	color: #0000000;
}
#nav {
  background-color:#ADD8E6;
  font-color: white;
  text-decoration: none;
  font-weight: bold;
}
body{      
    background-color: #FFAFO;
    font-family: "Arial, Helvetica, sans-serif;" 
    margin-left: 50 px;
    margin-right: 50 px;
    margin-top: 30 px;
}
# box1{
  margin: 20 px;
  padding: 10 px;
  border:5 px solid black;
  width: 100 px;
}
h1 {
  color: #191970;
  font-family: "Arial, Helvetica, sans-serif; "font-weight;bold;
  text-align: center;
}
h2 {
  color: #FF4500;
  font-size:32 px;
  margin:0 0 8 px;
  text-align: center;
}
h3 {
  color: #FF4500;
  font-size: 16 px;
  margin-top: 25 px;
  margin-right: 50 px;
  margin-bottom: 60 px;
  margin-left: 20 px;
}
  
}
h4 {
  color: #191970;
  font-size: 8 px;
  margin: 0 0 8 px;
  
}
h5 {
  color: #191970;
}
h6 { 
  color: #191970;
}
p {margin: 25x 50x;
  color: #191970;

.content{
	width: 600 px;

}
.navlinks{
	color:#ff000;
	border-top: 2 px solid#ff000;
	text-transform: none;

}


