head{
 }
#title{
  margin: 1px;
  padding: 1px;
  font-family: Arial,helvetica, sans-serif;  
  color: #000000;
}
#navlinks{
  font-color: #000000;
  font-family: Arial,helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  text-align: right;
  margin: 40: 40px;
  margin-right: 40px;
  margin-left: 40px;
}
body{ 
    background-color: #DCDCDC;     
    font-family: Arial,helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
}
.photoinfo1{
display: inline-block;
margin: 0;
}
}
.photoinfo2{
margin: 10px;
display: inline-block;
padding-right: 10px;
padding-left: 10px;
}
.contactinfo{
display: inline-block;
margin-right: 40px;
}
h1 {
  color: #000000;
  font-family: Times, Georgia, serif;
  font-weight: 700;
  font-size: 48px;
  text-align:center;
  margin: 0 0 4px;
}
h2 {
  font-color: #000000;
  font-family: Times, Georgia, serif;
  font-weight: normal 400; 
  margin:0 0 4px;
  text-align: center;
}
h3 {
  font-color: #000000;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 60px;
  margin-left: 20px;
}
 
}
h4 {
  color: #000000;
  font-size: 8px;
  margin: 0 0 8px;
 }
h5 {
  color: #000000;
}
h6 { 
  color: #000000;
}
p {
   margin: 25px 50px;
 } 
.content{
  width: 200px;
  text-align;
}
footer {
  display: inline-block;
  font-size: h4;
}



